<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Emergency App Alert - Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Emergency App Alert - Output</h1>
        <div class="column">
            <h2 class="opHeading">Dams</h2>
            <table id="damsTable">
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                </tr>
                <tr>
                    <td>Dam 1</td>
                    <td>Location 1</td>
                </tr>
                <tr>
                    <td>Dam 2</td>
                    <td>Location 2</td>
                </tr>
            </table>
        </div>

        <div class="column">
            <h2 class="opHeading">Filling Stations</h2>
            <table id="fillingStationsTable">
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                </tr>
                <tr>
                    <td>Station 1</td>
                    <td>Location 1</td>
                </tr>
                <tr>
                    <td>Station 2</td>
                    <td>Location 2</td>
                </tr>
            </table>
        </div>

        <div class="column">
            <h2 class="opHeading">Airports</h2>
            <table id="airportsTable">
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                </tr>
                <tr>
                    <td>Airport 1</td>
                    <td>Location 1</td>
                </tr>
                <tr>
                    <td>Airport 2</td>
                    <td>Location 2</td>
                </tr>
            </table>
</body>
</html>
